/* Estilos para la sección del banner */
html {
    background-color: #021f24
}



.banner img{
  max-width: 100%;
  max-height: 550px;
  }
 
 form {
    border: 1px transparent #ccc;
    background-color: rgb(2, 29, 59);
    padding: 15px 15px;
    border-radius: 10px;
    max-width: 500px;
    margin: 25px auto;
    text-align: center;
 }

 
  .principio {   
    border: 1px transparent #ccc;
    background-color: rgb(2, 29, 59);
    padding: 15px 15px;
    border-radius: 10px;
    max-width: 550px;
    margin: 20px auto;
    text-align: center;
  }

  .principio .list .princi {
    font-weight: 900;
  }

 .principio .list {
    display: grid; /* Utiliza Grid para el contenido */
    grid-template-columns: repeat(3, 1fr); /* Divide el contenido en dos columnas */
    color: #ccc;
   
  }

  .principio .list .titulo {
    display: grid; /* Utiliza Grid para el contenido */
    grid-template-columns: repeat(1, 1fr); /* Divide el contenido en dos columnas */
    color: #ccc;
    font-weight: 300;  
  }

  .principal {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    text-align: center;
    
  }
  
.resident {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px; /* Agrega margen derecho para separar las tarjetas horizontalmente */
    margin-bottom: 10px; /* Agrega margen inferior para separar las tarjetas verticalmente */
    width: 100%;
    max-width: 300px;
    background-color: rgb(2, 29, 59);
    color: white;
    border-radius: 1em;
    overflow: hidden;/*todo lo que sobresalga de la cards se va a acortar*/ 
    transition: transform 100ms ease;
    display: inline-block;
   
   
}
.resident:hover {
    transform: scale(1.03);
}

.resident_header {
    position: relative;
}

.resident_status {
    position: absolute;
    top: 2.5em;
    background-color: hsl(187, 85%, 10%);
    width: 35%;
    padding: 0.3em 0.7em;
    border-radius: 0 0.5em 0.5em 0;
    display: flex;
    gap: 0.7em;
    align-items: center;
}

.resident_status_circle {
    display: block;
    width: 12px;
    aspect-ratio: 1;
    background-color: #aaa;
    border-radius: 50%;
}

.Alive {
    background-color:#00d547;
}

.Dead {
    background-color: red;
}

.resident_body {
    padding: 1.5em 1em 2.5em;
}

.resident_name {
    text-align: center;
    margin-bottom: 0.7em;
    font-weight: 700;
    color: #00d547
}

.resident_separator {
    margin-bottom: 0.5em;
    border-color: #aaa3;
}

.resident_list {
    display: grid;
    gap: 0.7em;
    text-align: left;
}

.resident_item {
    display: flex;
    flex-direction: column;
}

.resident_label {
    font-size: 0.8em;
    padding-left: 1em;
    color: #aaa;
}
 h2 {
    padding: 15px;
    color: darkorange;
 }
 button 
{
    background-color: darkorange;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: transparent;
}


@media (max-width: 768px) {
    .principio {
        max-width: 90%; /* Reducir el ancho máximo en pantallas más pequeñas */
        margin: 10px auto; /* Centrar el elemento en la pantalla */
      }
    
      .principio .list {
        grid-template-columns: repeat(1, 1fr); /* Una sola columna en pantallas pequeñas */
      }
  }

